body {
    background-color: rgb(187 151 222 / 57%);
}

#main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10% 30% 0% 30%;
    border: 2px solid black;
    border-radius: 25px;
    background-color: rgb(231 215 215 / 23%);
}

#title {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    font-weight: bold;
}

#logo {
    margin-bottom: 20px
}
